body {
    background-color: antiquewhite;
}

.App4 {
 text-align: center;
 font-family: monospace;
}


form {
    display: flex;
    flex-direction: column;
    width: 512px;
    margin: 0 auto;
    gap: 10px;
}

form > * {
    border-radius: 1rem;
    padding: 1rem;
}

button{
    background-color: gold;
}

.success {
    color: green;
    background-color: lightgreen;
}

.error {
    color: red;
    background-color: lightpink;
}

